<div id="resume-header">
	<div id="resume-header-name">
		Kenny Chan
	</div>
	<div id="resume-header-contact-info">
		<div class="resume-header-contact-section yellow-hover">
			<a href="mailto:kenny.r.chan@gmail.com" target="_blank" class='resume-header-contact-section-icon-link'></a>
			<i class="icon-envelope resume-header-contact-section-icon"></i>
			<div class="resume-header-contact-section-info">
				<a href="mailto:kenny.r.chan@gmail.com" target="_blank">kenny.r.chan@gmail.com</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="resume-header-contact-section yellow-hover">
			<a href="http://linkedin.com/in/kennyrchan" target="_blank" class='resume-header-contact-section-icon-link'></a>
			<i class="sprite sprite-linkedin resume-header-contact-section-icon"></i>
			<div class="resume-header-contact-section-info">
				<a href="http://linkedin.com/in/kennyrchan" target="_blank">linkedin.com/in/kennyrchan</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="resume-header-contact-section yellow-hover">
			<a href="http://github.com/yoshakezula" target="_blank" class='resume-header-contact-section-icon-link'></a>
			<i class="sprite sprite-github resume-header-contact-section-icon"></i>
			<div class="resume-header-contact-section-info">
				<a href="http://github.com/yoshakezula" target="_blank">github.com/yoshakezula</a>
			</div>			
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="home-resume-wrapper" class='resume-experience-section'>
	<div class="resume-experience-header-row row">
		<div class="resume-experience-header span12">
			Resume
		</div>
		<a id="home-resume-link" href='/resume'>Go To Resume</a>
	</div>
</div>
<div id="resume-projects-section" class='resume-experience-section'>
	<div class="resume-experience-header-row row">
		<div class="resume-experience-header span12">
			Projects
		</div>
	</div>
	<div class="resume-section-content">
		<div class="resume-experience-timeline"></div>
		<div class="resume-experience-row row">
			<div class="resume-timeline-block span1">
				&nbsp;
			</div>
			<div class="resume-experience-block span11">
				<div class='resume-project-line'>
					<a target="_blank" class="project-link" href='http://getarkad.com'>Arkad</a>: Tool to change the way venture capital firms collect data
				</div>
				<div class='resume-project-line'>
					<a target="_blank" class="project-link" href='http://snowbase.kennychan.co'>Snowbase</a>: Compare snow base depth across ski resorts and across time
				</div>
				<div class='resume-project-line'>
					<a target="_blank" class="project-link" href='https://github.com/yoshakezula/leap-motion-chrome'>Leap Motion Chrome Extension</a>: Extension for Chrome using the <a href="http://leapmotion.com" target="_blank">Leap Motion Controller</a>
				</div>
				<div class='resume-project-line'>
					<a target="_blank" class="project-link" href='http://fb.getarkad.com'>Facebook Virality Tool</a>: Analyze the most viral posts of your competitors
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
</div>
<div id="resume-more-section" class='resume-experience-section'>
	<div class="resume-experience-header-row row">
		<div class="resume-experience-header span12">
			Programming Languages and Frameworks
		</div>
	</div>
	<div class="resume-section-content">
		<div class="resume-experience-timeline"></div>
		<div class="resume-experience-row row">
			<div class="resume-timeline-block span1">
				&nbsp;
			</div>
			<div class="resume-experience-block span11">
				<div>
					<ul>
						<li>CSS (SCSS, LESS, Stylus)</li>
						<li>HTML (Jade)</li>
						<li>JavaScript (Backbone.js, jQuery, CoffeeScript)</li>
						<li>Spanish</li>
						<li>Ruby</li>
						<li>Node.js, Rails, Sinatra</li>
						<li>Visual Basic for Applications</li>
						<li>MongoDB (Mongoid, Mongoose)</li>
						<li>MySQL</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
</div>
<div id="resume-more-section" class='resume-experience-section'>
	<div class="resume-experience-header-row row">
		<div class="resume-experience-header span12">
			Things I Like
		</div>
	</div>
	<div class="resume-section-content">
		<div class="resume-experience-timeline"></div>
		<div class="resume-experience-row row">
			<div class="resume-timeline-block span1">
				&nbsp;
			</div>
			<div class="resume-experience-block span11">
				<div>
					<a class="interests-link" href="http://www.youtube.com/watch?v=3zuJmf-s6_M" target="_blank" data-title="See skiing videos on YouTube" data-placement="bottom" data-toggle="tooltip">Skiing</a>, <a class="interests-link" href="http://www.last.fm/user/sthpark38" target="_blank" data-title="See my last.fm profile" data-placement="bottom" data-toggle="tooltip">Indie Music</a>, <a class="interests-link" href="http://www.goodreads.com/review/list/17943985?shelf=space-and-physics" target="_blank" data-title="See my nerdy reading on GoodReads" data-placement="bottom" data-toggle="tooltip">Space, Physics</a>, <a class="interests-link" href="http://pinterest.com/yoshakezula/buildings-and-design" target="_blank" data-title="See my Architecture board on Pinterest" data-placement="bottom" data-toggle="tooltip">Architecture</a>, Cooking, Exercise, Beers
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
</div>