<div id="resume-header">
	<div id="resume-header-name">
		Kenny Chan
	</div>
	<div id="resume-header-contact-info">
		<div class="resume-header-contact-section yellow-hover">
			<i class="icon-envelope resume-header-contact-section-icon"></i>
			<div class="resume-header-contact-section-info">
				<a href="mailto:kenny.r.chan@gmail.com" target="_blank">kenny.r.chan@gmail.com</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="resume-header-contact-section yellow-hover">
			<i class="sprite sprite-linkedin resume-header-contact-section-icon"></i>
			<div class="resume-header-contact-section-info">
				<a href="http://linkedin.com/in/kennyrchan" target="_blank">linkedin.com/in/kennyrchan</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="resume-header-contact-section yellow-hover">
			<i class="sprite sprite-github resume-header-contact-section-icon"></i>
			<div class="resume-header-contact-section-info">
				<a href="http://github.com/yoshakezula" target="_blank">github.com/yoshakezula</a>
			</div>
			
		</div>

	</div>
	<div class="clear"></div>
</div>
<div id="resume-experience-section">
	<div class="resume-experience-timeline"></div>
	<div class="resume-experience-header-row row">
		<div class="resume-experience-header">
			Experience
		</div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					Present
				</div>
				<div class="resume-timeline-block-date-arrow">
					&uarr;
				</div>
				<div class="resume-timeline-block-date-end">
					Aug 2012
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-logo-wrapper">
				<a href="http://getarkad.com" target="_blank">
					<div class="resume-experience-company-logo logo-arkad" title="Arkad"></div>
				</a>
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Co-Founder & Head of Product</span>
				<div>Managed all aspects of starting a tech business, along with two co-founders</div>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet">Arkad is a tool that changes the way businesses collect data, and is aimed primarily at Venture Capital firms</li>
				<li class="resume-experience-list-bullet">Continuously met with potential customers to iterate on product, from sketches to mockups to prototype to live website</li>
				<li class="resume-experience-list-bullet">Turned product concepts into development requirements, timelines, and tasks</li>
				<li class="resume-experience-list-bullet">Built the front-end user interface for the website, along with a co-founder</li>
				<li class="resume-experience-list-bullet">Conducted sales meetings with potential customers and delivered product pitch presentations</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					Aug 2012
				</div>
				<div class="resume-timeline-block-date-arrow">
					&uarr;
				</div>
				<div class="resume-timeline-block-date-end">
					Oct 2010
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-logo-wrapper">
				<a href="http://insightpartners.com" target="_blank">
					<div class="resume-experience-company-logo logo-insight" title="Insight Venture Partners"></div>
				</a>
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Associate, Onsite Group</span>
				<div>Ran operations and strategy work for portfolio companies, due diligence on new companies, and internal projects</div>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet"><b>Analytics / Programming:</b> Wrote several programs (VBA and JavaScript) to automate analysis for Insight and its portfolio companies</li>
				<li class="resume-experience-list-bullet"><b>Project Mgmt:</b> Managed year-long launch of Insight Partners’ new website. Served as point person for compiling requirements, managing to schedule, creative and technical decisions, and communicating with site developers and internal Insight team</li>
				<li class="resume-experience-list-bullet"><b>Analytics:</b> Developed a cohort analysis methodology (e.g., signup rates, conversion, churn) for a large website creation company; they have since adopted parts of this methodology to determine customer lifetime value</li>
				<li class="resume-experience-list-bullet"><b>Sales Analysis:</b> Built a sales lead tracking workflow for an enterprise software company by writing custom code for their website and designing a weekly dashboard with ROI for each lead generation channel, which mgmt. used to budget marketing spend</li>
				<li class="resume-experience-list-bullet"><b>Sales Analysis:</b> Helped a company’s sales team segment and prioritize customer segments. Built a framework for scoring the different customer segments, collaborated with management team to arrive at scores, and interviewed market experts. </li>
				<li class="resume-experience-list-bullet"><b>Financial Modeling and Due Diligence:</b> Performed due diligence on several companies:  financial models and market research</li>
				<li class="resume-experience-list-bullet"><b>Long-Term Strategy:</b> Helped companies with long-term product strategy:</b> performed and presented research (customer analyses, market research, surveys), and ran strategy sessions with management teams</li>
				<li class="resume-experience-list-bullet"><b>Knowledge Base:</b> Launched internal knowledge base to re-use past project work</li>
				<li class="resume-experience-list-bullet"><b>Marketing:</b> Managed online marketing and web presence for a software company</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					Sep 2010
				</div>
				<div class="resume-timeline-block-date-arrow">
					&uarr;
				</div>
				<div class="resume-timeline-block-date-end">
					Oct 2010
				</div>
			</div>
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					Summer 2008
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-logo-wrapper">
				<a href="http://bcg.com" target="_blank">
					<div class="resume-experience-company-logo logo-bcg" title="The Boston Consulting Group"></div>
				</a>
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Associate</span>
				<div>Performed management consulting for hetitlehcare, IT, and financial services clients</div>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet">Designed a framework to calculate the financial benefits of an Electronic Medical Records system for a large Saudi Arabian hospital. Parts of the framework are now used as a template for other BCG teams. Arrived at framework by mining medical literature and facilitating sessions with hospital departmental specialists </li>
				<li class="resume-experience-list-bullet">Designed a model to track cost savings for a large pharmaceutical merger</li>
				<li class="resume-experience-list-bullet">Analyzed the sales pipeline for a large server manufacturer to identify which products’ pipeline yields were lagging</li>
				<li class="resume-experience-list-bullet">Sized and recommended $1B+ growth opportunities for a large credit card firm, using market research and interviews</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					2009
				</div>
				<div class="resume-timeline-block-date-arrow">
					&uarr;
				</div>
				<div class="resume-timeline-block-date-end">
					2007
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-name">
				SRS Energy
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Consultant</span>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet">Prioritized solar market attractiveness of each US state, helped identify partners for power inverters, and developed a plan to get California regulatory approval (through calls to CA solar regulators, contractors, and utilities)</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					2009
				</div>
				<div class="resume-timeline-block-date-arrow">
					&uarr;
				</div>
				<div class="resume-timeline-block-date-end">
					2008
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-name">
				The Wharton School
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Research Assistant</span>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet">Conducted a statistical study on the effects of Big Pharma advertising and detailing on adverse drug events with Dr. Guy David</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					Summer 2007
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-name">
				Merck & Co.
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Financial Planning Intern</span>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet">Built a new way to look at drug trial IT performance metrics for the CIO; the metrics were incorporated into quarterly reports</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					2007
				</div>
				<div class="resume-timeline-block-date-arrow">
					&uarr;
				</div>
				<div class="resume-timeline-block-date-end">
					2006
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-name">
				Institute for Mathematics and Computer Science (IMACS)
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Junior Instructor</span>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet">Taught K-12 students Computer Science, Electronics, and Logic, and wrote projects for electronics classes</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="resume-education-section">
	<div class="resume-experience-timeline"></div>
	<div class="resume-experience-header-row row">
		<div class="resume-experience-header">
			Education
		</div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			<div class="resume-timeline-block-date yellow-hover">
				<div class="resume-timeline-block-date-start">
					2009
				</div>
				<div class="resume-timeline-block-date-arrow">
					&uarr;
				</div>
				<div class="resume-timeline-block-date-end">
					2005
				</div>
			</div>
		</div>
		<div class="resume-experience-block span11">
			<div class="resume-experience-company-logo-wrapper">
				<div class="resume-experience-company-logo logo-wharton" title="Wharton"></div>
				<div class="resume-experience-company-logo logo-seas" title="School of Engineering and Applied Science"></div>
				<div class="resume-experience-company-logo logo-mandt" title="Jerome Fisher Program in Management & Technology"></div>
				<div class="clear"></div>
			</div>
			<div class="resume-experience-role-wrapper">
				<span class="resume-experience-role-text">Jerome Fisher Program in Management and Technology</span>
				<div>University of Pennsylvania</div>
			</div>
			<ul class="resume-experience-list">
				<li class="resume-experience-list-bullet"><b>The Wharton School:</b> B.S. in Economics, Management concentration, <em>Summa Cum Laude</em></li>
				<li class="resume-experience-list-bullet"><b>School of Engineering and Applied Science:</b> B.A.S. in Biomedical Science, <em>Summa Cum Laude</em></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="resume-more-section">
	<div class="resume-experience-timeline"></div>
	<div class="resume-experience-header-row row">
		<div class="resume-experience-header">
			More
		</div>
	</div>
	<div class="resume-experience-row row">
		<div class="resume-timeline-block span1">
			&nbsp;
		</div>
		<div class="resume-experience-block span11">
			<div>
				<b>Interests:</b> Skiing, Indie Music, Cooking, Exercise, Beers, Space, Physics, Architecture
			</div>
			<div>
				<b>Languages / Frameworks (in order of expertise):</b>
				<ul>
					<li>CSS (SCSS, LESS)</li>
					<li>HTML</li>
					<li>JavaScript (Backbone.js, jQuery, CoffeeScript)</li>
					<li>Spanish</li>
					<li>Ruby (Rails, Sinatra)</li>
					<li>Visual Basic for Applications</li>
					<li>MySQL</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>